.contact {
    &__container {
        max-width: 764px;
    margin: 0 auto;
    }

    &__title {
        margin-top: 83px;
    text-align: center;
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: 0.2px;

        &--italic {
            font-style: italic;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-top: 39px;
        margin-bottom: 80px;
    }

    &__item {
        text-align: center;
    }

 

    &__logo {
    width: 99px;
    height: 99px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
        
        &--blue {
            background: linear-gradient(148deg, rgba(61,189,182,1) 0%, rgba(0,137,206,1) 100%);
        }
        
        &--purple {
            background: linear-gradient(308.7deg, #7A86CC 8.85%, #9FACF8 100%);
        }

        &--pink {
            background: linear-gradient(180deg, #F3778F 0%, #F26A95 44.25%, #F15A9D 100%);
        }
    }

    &__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);;
        }

    &__subtitle {
        margin-top: 14px;
        font-size: 16px;
        font-style: italic;
    }

    &__text {
        margin-top: 12px;
        font-size: 16px;
        color: #72808E;

    }

    &__link {
        margin-top: 11px;
        font-size: 14px;
        color: #2D8CFF;

        &:visited {
            color: inherit;
        }
    }


}
