.learn {
    text-align: center;
    @extend %container;

    &__title {
        font-size: 40px;
        margin-top: 80px;
    }
    
    &__box {
        display: flex;
        margin-top: 71px;
        margin-bottom: 80px;
    }  

    &__item:not(:last-child) {
        margin-right: 25px;
    }

    &__subtitle {
        margin-top: 31px;
        font-size: 18px;
    }

    &__link {
        margin-top: 25px;
    }
}

